<header>
  <div class="_title __center">
    Курс
  </div>
</header>

<main class="page_course">
  <div class="_content">
    <div class="course">
      <div class="course_info">
        <div class="_name">
          <h1>
            КУРС Управление командой
          </h1>
        </div>
        <div class="_text">
          <h2>
            Аннотация курса
          </h2>

          <h3>Предназначение курса:</h3>
          <ul>
            <li>помогает внедрить в компании командный стиль работы</li>
            <li>дает возможность освоить принципы построения и управления командой</li>
            <li>ориентирует на ответственное выполнение ролей в команде</li>
            <li>снижает тревожность и страхи в вопросах управления людьми</li>
          </ul>

          <h3>
            Учебные результаты
          </h3>
          <p>
            После прохождения курса слушатель будет
          </p>
          <p>
            Знать:
          </p>
          <ul>
          <li>Необходимые элементы и отличительные особенности командной работы</li>
          <li>Этапы развития и принципы функционирования команды</li>
          <li>Сильные и слабые стороны различных ролей в команде, включая лидера</li>
          <li>Принципы распределения ответственности в команде</li>
          <li>Свои предпочитаемые роли в команде и свой стиль лидерства в команде</li>
          <li>Понятие и принципы построения матрицы лидерства</li>
          <li>Стадии вертикального развития лидеров</li>
          <li>5 пороков команды</li>
          <li>Понятие баланса «брать-давать»</li>
          <li>Свои ограничивающие убеждения, оценочные суждения и внутренние ограничения как лидера и участника команды</li>
          <li>Понятие обратной связи и ненасильственного общения</li>
          <li>Способы управления конфликтами в команде…</li>
          </ul>

          <p>
            Уметь:
          </p>
          <ul>
          <li>формировать команды по принципу взаимодополнения ролей под конкретную задачу</li>
          <li>определять ролевые особенности других людей </li>
          <li>адаптировать свой стиль лидерства под особенности команды</li>
          <li>работать с конструктивными конфликтами в команде</li>
          <li>выстраивать развивающие отношения в команде</li>
          <li>формировать доверительную среду в команде</li>
          <li>управлять своим личным балансом «брать-давать» в отношениях в команде</li>
          <li>давать укрепляющую обратную связь</li>
          </ul>

          <p>
            Считать, что:
          </p>
          <ul>
          <li>работа в команде имеет синергетический эффект только при грамотном управлении</li>
          <li>доверие в команде долго строится и легко разрушается, поэтому имеет особую ценность</li>
          <li>управлять высокоэффективной командой можно даже не будучи самым крутым  профессионалом в ней</li>
          </ul>
        </div>
      </div>

      <div class="block_trainers">
        <div class="_title">
          <h2>
            Тренеры
          </h2>
        </div>

        <div class="trainers">
          <div class="trainer">
            <div class="_img __default">
            </div>
            <div class="_name">
              Никитина Ирина Михайловна
            </div>
            <div class="_href">
              <a class="content_upload" href="templates/trainers/item.htm" data-page="3"></a>
            </div>
          </div>

          <div class="trainer">
            <div class="_img __default">
            </div>
            <div class="_name">
              Никитина Ирина Михайловна
            </div>
            <div class="_href">
              <a class="content_upload" href="templates/trainers/item.htm" data-page="3"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
