<header>
  <div class="_title __center">
    Курс
  </div>
</header>

<main class="page_course">
  <div class="_content">
    <div class="course">
      <div class="course_info">
        <div class="_name">
          <h1>
            КУРС Системное мышление
          </h1>
        </div>
        <div class="_text">
          <h2>
            Аннотация курса
          </h2>
          <p>
            Системное мышление это объединительное мышление при рассмотрении проблем организации. Мыслить системно это значит быть способным смотреть на проблемные ситуации и искать способы решения проблем с разных точек зрения, сочетая разные системные подходы.
          </p>
          <p>
            С наступлением 21 века мы замечаем, как растет сложность окружающих нас систем. Поэтому, управленческие решения, принятые без учета их влияния на систему в целом, не работают, или работают не так, как хотелось бы.
          </p>
          <p>
            Умение системно смотреть на проблемы, видеть картину в целом и понимать взаимозависимости становится сегодня важной составляющей карты компетенций современного руководителя. Без системных методологий и технологий мышления невозможно решать сложные (комплексные) задачи. На всемирном экономическом форуме в Давосе в 2016 году компетенцию Complex problem solving поставили на первое место в числе Топ-10 ключевых навыков современных руководителей.
          </p>
          <h3>
            Учебные результаты
          </h3>
          <p>
            После прохождения курса слушатель будет
          </p>
          <p>
            Знать:
          </p>
          <ul>
            <li>Ключевые понятия системного мышления.</li>
            <li>Наиболее популярные методологии системного мышления.</li>
            <li>Взгляды разных авторов на решение сложных проблем.</li>
            <li>Области применения системного подхода и системного мышления в управлении.</li>
            <li>Основы системной динамики и основные архетипы систем.</li>
            <li>Ограничения при внедрении изменений.</li>
            <li>Ошибки при решении комплексных проблем. </li>
          </ul>
          <p>
            Уметь:
          </p>
          <ul>
            <li>Комплексно рассматривать решаемые задачи.</li>
            <li>Использовать системный подход при решении задач.</li>
            <li>Учитывать влияние разнородных факторов на решаемую задачу в перспективе.</li>
            <li>Обладать индуктивным мышлением (способностью к обобщению).</li>
            <li>Формулировать возможные сценарии будущего.</li>
            <li>Генерировать решения проблем и новые идеи.</li>
            <li>Определять факторы, способствующие и препятствующие достижению цели.</li>
            <li>Использовать ситуационный подход к решению задач.</li>
          </ul>

          <p>
            Список учебных блоков (укрупненный тематический план)
          </p>
          <ul>
            <li>Тема 0. Проблематизация участников.</li>
            <li>Тема 1. Введение в системное мышление. </li>
            <li>Тема 2. Системный подход, обратная связь и рычаги воздействия.</li>
            <li>Тема 3. Организационное проектирование. Цели, функции, структура, процесс.</li>
            <li>Тема 4. Комплексное решение проблем. </li>
            <li>Тема 5. Ментальные модели и разрешение конфликтов.</li>
            <li>Тема 6. Системный само менеджмент.</li>
          </ul>
        </div>
      </div>

      <div class="course_buttons">
        <a class="content_upload button" href="templates/courses/course2/theory_passed.htm">Пройти теорию</a>
        <a class="content_upload button" href="templates/courses/course2/practice.htm">Пройти практику</a>
      </div>

      <div class="block_trainers">
        <div class="_title">
          <h2>
            Тренеры
          </h2>
        </div>

        <div class="trainers">
          <div class="trainer">
            <div class="_img __default">
            </div>
            <div class="_name">
              Сашев Александр Александрович
            </div>
            <div class="_href">
              <a class="content_upload" href="templates/trainers/single2.htm"></a>
            </div>
          </div>

          <div class="trainer">
            <div class="_img">
              <img src="img/trainer.png" alt="">
            </div>
            <div class="_name">
              Разговорцева Нина Семёнова
            </div>
            <div class="_href">
              <a class="content_upload" href="templates/trainers/single3.htm"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
