<header>
  <div class="_title __center">
    Курс
  </div>
</header>

<main class="page_course">
  <div class="_content">
    <div class="course">
      <div class="course_info">
        <div class="_name">
          <h1>
            КУРС Решение проблем
          </h1>
        </div>
        <div class="_text">
          <h2>
            Аннотация курса
          </h2>
          <p>
            Курс «Решение проблем» направлен на развитие навыков систематизированного поиска решений сложных управленческих задач в индивидуальном и групповом режимах.
          </p>
          <p>
            По мнению большинства международных экспертов именно эти навыки признаются «навыками выживания», наиболее значимыми для руководителей XXI века, работающих в условиях нарастающей сложности и неопределенности деловой среды. При этом в большинстве ВУЗов, бизнес-школ и корпоративных учебных центров отсутствуют учебные программы, способствующие формированию и развитию подобных компетенций.
          </p>
          <p>
            Курс призван представить менеджерам ГПН сведения о том, какие принципы, инструменты и техники анализа сложных управленческих задач используются в лидирующих бизнес-организациях и консалтинговых агентствах и основан на изучении лучших практик, опыте и подходов ведущих мировых центров бизнес-образования.
          </p>
          <h3>
            Учебные результаты
          </h3>
          <p>
            После прохождения курса слушатель будет
          </p>
          <p>
            Знать:
          </p>
          <ul>
            <li>Основные этапы, принципы и инструменты анализа и решения проблем</li>
            <li>Условия применения инструментов</li>
          </ul>

          <p>
            Уметь:
          </p>
          <ul>
            <li>Применять алгоритм процесса решения проблем</li>
            <li>Последовательно и целесообразно использовать аналитические инструменты решения проблем;</li>
            <li>Применять техники коллаборативного решения проблем в группе</li>
            <li>Выявлять и структурировать проблемы</li>
            <li>Генерировать способы решения проблемы</li>
            <li>Проводить сбор информации для уточнения решений</li>
            <li>Проводить оценку и приоритизацию альтернативных решений</li>
          </ul>

          <p>
            Список учебных блоков (укрупненный тематический план)
          </p>
          <ul>
            <li>Введение. Процесс решения проблем в общем виде. Последовательность шагов анализа проблемы. </li>
            <li>Выявление, постановка задачи - первый шаг алгоритма решения проблем </li>
            <li>Структурирование (структурный анализ) - второй шаг алгоритма решения проблем  </li>
            <li>Генерация решений (первые инсайты) - третий шаг алгоритма решения проблем </li>
            <li>Сбор информации - четвертый шаг алгоритма решения проблем</li>
            <li>Выбор решения - пятый шаг алгоритма решения проблем</li>
          </ul>
        </div>
      </div>

      <!-- <div class="course_buttons">
        <a class="content_upload button" href="templates/courses/course3/theory_passed.htm">Пройти теорию</a>
        <a class="content_upload button" href="templates/courses/course3/practice_passed.htm">Пройти практику</a>
      </div> -->

      <div class="block_trainers">
        <div class="_title">
          <h2>
            Тренеры
          </h2>
        </div>

        <div class="trainers">
          <div class="trainer">
            <div class="_img __default">
            </div>
            <div class="_name">
              Никитина Ирина Михайловна
            </div>
            <div class="_href">
              <a class="content_upload" href="templates/trainers/single.htm"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
