<main class="page_courses">
  <div class="_title">
    Курсы
  </div>
  <div class="_content">
    <div class="courses">
      <div class="course collaps_block _active_">
        <div class="_title collaps_btn">
          <a href="">
            Теория <span>+</span>
          </a>
        </div>
        <div class="collaps_content">
          <div class="item">
            <div class="_status">
              <img src="img/icons/courses_status_passed.png" alt="">
            </div>
            <div class="_text">
              <a class="content_upload" data-page="3" href="templates/courses/course2/theory_passed.htm">
                Пройденная теория
              </a>
            </div>
          </div>
          <div class="item">
            <div class="_status">
              <img src="img/icons/courses_status.png" alt="">
            </div>
            <div class="_text">
              <a class="content_upload" data-page="3" href="templates/courses/course2/theory.htm">
                Непройденная теория
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="course collaps_block">
        <div class="_title collaps_btn">
          <a href="">
            Практика <span>-</span>
          </a>
        </div>
        <div class="collaps_content">
          <div class="item">
            <div class="_status">
              <img src="img/icons/courses_practice_passed.png" alt="">
            </div>
            <div class="_text">
              <a class="content_upload" data-page="3" href="templates/courses/course2/practice_passed.htm">
                Пройденная практика
              </a>
            </div>
          </div>
          <div class="item">
            <div class="_status">
              <img src="img/icons/courses_practice.png" alt="">
            </div>
            <div class="_text">
              <a class="content_upload" data-page="3" href="templates/courses/course2/practice.htm">
                Непройденная практика
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
