<main class="page_faq">
  <div class="_title">
    F.A.Q
  </div>
  <div class="_content">
    <div class="faqs">
      <div class="faq collaps_block _active_">
        <div class="collaps_btn _title">
          <a href="">
            Категория №1 <span>+</span>
          </a>
        </div>

        <div class="collaps_content _items">
          <div class="_item">
            Вопрос 1
          </div>
          <div class="_item">
            Вопрос 2
          </div>
          <div class="_item">
            Вопрос 3
          </div>
        </div>
      </div>
      <div class="faq collaps_block">
        <div class="collaps_btn _title">
          <a href="">
            Категория №2 <span>+</span>
          </a>
        </div>

        <div class="collaps_content _items">
          <div class="_item">
            Вопрос 1
          </div>
          <div class="_item">
            Вопрос 2
          </div>
          <div class="_item">
            Вопрос 3
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
