<main class="page_privacy">
  <div class="_title">
    О программе
  </div>
  <div class="_content">
    <p>
      Перед руководителем всегда стоит множество задач, которые требуют определенного уровня  управленческих компетенций.
    </p>
    <p>
      Программа обучения состоит из  курсов, которые помогут вам эффективнее решать сложные задачи, использовать системный подход, мотивировать и вести за собой команду, результативно выступать и вести переговоры.
    </p>
    <p>
      Обучение на программе состоит из 5 модулей. В каждом модуле есть дистанционная и очная часть.
    </p>
    <p>
      В ходе обучения у вас будет формироваться индивидуальный трек обучения, доступный в личном кабинете. Личный учебный трек будет изменяться в зависимости от того, как активно и качественно вы обучаетесь на программе.
    </p>
    <p>
      Во время обучения на программе с вами на связи будет группа поддержки, которая поможет вам с вопросами по прохождению программы. Связаться с группой поддержки можно через мобильное приложение – раздел «Онлайн-поддержка».
    </p>

    <p>Желаем вам продуктивного и интересного обучения!</p>
    <!-- <div class="collaps_block">
      <div class="collaps_btn _title">
        <a href="">
          Политика конфиденциальности <span>+</span>
        </a>
      </div>

      <div class="collaps_content _items">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
    </div> -->
  </div>
</main>
