<header>
  <a class="_button __icon content_upload" href="templates/profiles/edit.htm" type="button" name="button" data-page="3">
    <img src="img/icons/edit.png" alt="">
  </a>
</header>

<main class="page_profile main_profile">
  <div class="_content">
    <div class="row prev_profile">
      <div class="_profile_img">
        <img src="img/profile.png" alt="">
      </div>
      <div class="_profile_info">
        <div class="_name">Ефимова Вероника Владимировна</div>
        <div class="_points"><span>740</span> баллов</div>
      </div>
    </div>

    <div class="row block_profile_progress">
      <div class="profile_progress">
          <div class="step __1 __yes">
            <div class="_tree">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129.46 126.14" style="overflow: visible; filter: drop-shadow(2px -2px 0 #57B0DF) drop-shadow(1.5px -1.5px 0 #57B0DF) drop-shadow(.5px -.5px 1px #57B0DF);">
                <path d="M100,100c-12.58-.29-23.13-.19-31.17,0-6,.14-10.39.33-11.83,3-2.76,5.1,8.6,12.73,6.33,18.17-2.91,7-26.72,6.41-29.16-.5-2-5.57,10.63-13.13,8.16-18-1.25-2.48-5.55-2.6-10-2.67-8.8-.14-19.69-.2-32.32,0V0H100c.11,4.29.18,10.56,0,18.17-.32,13.28-1.12,17,1.32,18.89,5.28,4,16.13-8.45,23.06-4.56,6.6,3.71,6.66,20.61.79,23.83-6,3.31-16.14-9-22.08-5.18-2.87,1.83-3,6.31-3.09,9.85C99.79,71.34,99.69,84.48,100,100Z" fill="#A2D9F7"/>
              </svg>
            </div>

            <div class="_desc">
              <div class="_icon">
                <img src="img/profile_progress/icon_1.svg" alt="">
              </div>
              <div class="_num">
                01
              </div>
              <div class="_name">
                Управление командой
              </div>
              <div class="_txt">
                Помогает внедрить в компании командный стиль работы
              </div>
              <div class="_href">
                <a class="content_upload" data-page="3" href="templates/courses/single.htm"></a>
              </div>
            </div>

            <div class="_href">
              <a class="content_upload" data-page="3" href="templates/courses/single.htm"></a>
            </div>
          </div>

          <div class="step __2 __yes" data-progress="50">
            <div class="_tree">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 131.67 131" style="overflow: visible; filter: drop-shadow(2px -2px 0 #DE3551) drop-shadow(1.5px -1.5px 0 #DE3551) drop-shadow(.5px -.5px 1px #DE3551);">
                <path d="M29.46,104c12.71.4,23.24.26,31.16,0,5.39-.18,9.52-.66,10.72-3.19,2.4-5.08-10.06-12.28-8.17-17.75,2.43-7,27.21-7.47,29.92-.5,2.07,5.32-9.65,12.62-7.08,17.91,1.31,2.72,5.57,3.23,11.12,3.53a304.06,304.06,0,0,0,32.33,0V4h-100c.1,4.21.18,10.5,0,18.17-.31,13.31-1.3,17.32,1.21,19.21,5.28,4,16.25-8.71,22.87-4.88,6.46,3.74,5.73,21.4-.43,24.29-5.93,2.78-14.71-9.13-20.37-5.9-3,1.7-3.18,6.52-3.28,10.11C29.18,74.58,29,87.73,29.46,104Z" data-fill="#EC6278" fill="url(#grad3)" />
                <linearGradient id="grad3" x1="0%" y1="0%" x2="20%" y2="100%">
                  <stop offset="50%" style="stop-color:#EC6278;stop-opacity:1" />
                  <stop offset="100%" style="stop-color:#FFFFFF;stop-opacity:1" />
                </linearGradient>
              </svg>
            </div>

            <div class="_desc">
              <div class="_icon">
                <img src="img/profile_progress/icon_2.svg" alt="">
              </div>
              <div class="_num">
                02
              </div>
              <div class="_name">
                Системное мышление
              </div>
              <div class="_txt">
                Объединительное мышление при рассмотрении проблем организации
              </div>
              <div class="_href">
                <a class="content_upload" data-page="3" href="templates/courses/single2.htm"></a>
              </div>
            </div>

            <div class="_href">
              <a class="content_upload" data-page="3" href="templates/courses/single2.htm"></a>
            </div>
          </div>

          <div class="step __3">
            <div class="_tree">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 134 128.33" style="overflow: visible;" data-filter="filter: drop-shadow(2px -2px 0 #D66040) drop-shadow(1.5px -1.5px 0 #D66040) drop-shadow(.5px -.5px 1px #D66040);">
                <path d="M103,26.9c-12.71-.4-23.25-.26-31.17,0-5.39.18-9.51.66-10.71,3.2-2.4,5.07,10.05,12.27,8.17,17.75-2.43,7-27.21,7.46-29.92.5C37.3,43,49,35.72,46.45,30.43c-1.32-2.71-5.58-3.22-11.13-3.53A303.85,303.85,0,0,0,3,26.9v100H103c-.1-4.2-.18-10.5,0-18.16.31-13.32,1.29-17.33-1.21-19.21-5.28-4-16.25,8.71-22.87,4.87-6.47-3.73-5.73-21.39.43-24.28,5.93-2.78,14.71,9.12,20.36,5.89,3-1.7,3.19-6.52,3.29-10.11C103.28,56.33,103.44,43.18,103,26.9Z" fill="#F08365" fill-opacity="0" stroke="#fff" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
            </div>

            <div class="_desc">
              <div class="_icon">
                <img src="img/profile_progress/icon_3.svg" alt="">
              </div>
              <div class="_num">
                03
              </div>
              <div class="_name">
                Решение проблем
              </div>
              <div class="_txt">
                Решение сложных управленческих задач в индивидуальном и групповом режимах
              </div>
              <div class="_href">
                <a class="content_upload" data-page="3" href="templates/courses/single3.htm"></a>
              </div>
            </div>

            <div class="_href">
              <a class="content_upload" data-page="3" href="templates/courses/single3.htm"></a>
            </div>
          </div>

          <!-- <div class="step __4">
            <div class="_tree">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132.67 128.33">
                <path d="M30.45,26.9c12.58.29,23.13.19,31.17,0,6.05-.14,10.39-.33,11.83-3,2.76-5.1-8.6-12.72-6.33-18.16,2.92-7,26.72-6.42,29.17.5,2,5.56-10.64,13.12-8.17,18,1.25,2.47,5.55,2.59,10,2.66,8.8.15,19.69.21,32.32,0v100h-100c-.1-4.28-.18-10.56,0-18.16.32-13.28,1.12-17-1.32-18.9-5.28-4-16.12,8.45-23,4.56C-.53,90.69-.59,73.79,5.29,70.57s16.13,9,22.07,5.18c2.87-1.83,3-6.31,3.09-9.85C30.67,55.56,30.76,42.42,30.45,26.9Z" fill="#fff" stroke="#000" stroke-miterlimit="10"/>
              </svg>
              <span></span>
              <span></span>
            </div>

            <div class="_desc">
              <div class="_icon">
              </div>
              <div class="_num">
              </div>
              <div class="_name">
              </div>
              <div class="_txt">
              </div>
              <div class="_href">
              </div>
            </div>

            <div class="_href">
            </div>
          </div> -->
        </div>
    </div>

  </div>
  <script>
    $(function(){
      profile_progress()
    })
  </script>
</main>
