<main class="page_schedule">
  <div class="_title">
    Расписание
  </div>
  <div class="_content">
    <div class="months">
      <div class="month collaps_block _active_">
        <div class="_title collaps_btn">
          <a href="">
            Ноябрь <span>+</span>
          </a>
        </div>
        <div class="collaps_content">
          <div class="day">
            <div class="_date">20</div>
            <div class="_text">
              <a class="content_upload" data-page="3" href="templates/courses/single.htm">
                КУРС Управление командой
              </a>
            </div>
          </div>
          <div class="day">
            <div class="_date">22</div>
            <div class="_text">
              <a class="content_upload" data-page="3" href="templates/courses/single2.htm">
                КУРС Системное мышление
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="month collaps_block">
        <div class="_title collaps_btn">
          <a href="">
            Декабрь <span>+</span>
          </a>
        </div>
        <div class="collaps_content">
          <div class="day">
            <div class="_date">5</div>
            <div class="_text">
              <a class="content_upload" data-page="3" href="templates/courses/single3.htm">
                КУРС Решение проблем
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
