<header>
  <div class="_title __center">
    Тренеры
  </div>
</header>

<main class="page_trainers">
  <div class="_title">
    <input class="input __icon __search" type="text" name="" placeholder="Поиск" value="">
  </div>

  <div class="_content">
    <div class="trainers">
      <div class="trainer">
        <div class="_img __default">
        </div>
        <div class="_name">
          Никитина Ирина Михайловна
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/trainers/single.htm"></a>
        </div>
      </div>

      <div class="trainer">
        <div class="_img __default">
        </div>
        <div class="_name">
          Сашев Александр Александрович
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/trainers/single2.htm"></a>
        </div>
      </div>

      <div class="trainer">
        <div class="_img __default">
        </div>
        <div class="_name">
          Разговорцева Нина Семёнова
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/trainers/single3.htm"></a>
        </div>
      </div>
    </div>
  </div>
</main>
