<header>
  <div class="_title __center">
    Страница тренера
  </div>
  <a class="_button __icon content_upload" href="templates/chats/single_t3.htm" type="button" name="button" data-page="3">
    <img src="img/icons/write.png" alt="">
  </a>
</header>

<main class="page_trainer">
  <div class="_content">
    <div class="row prev_trainer">
      <div class="_trainer_img">
        <img src="img/trainer.png" alt="">
      </div>
      <div class="_trainer_info">
        <div class="_name">Разговорцева Нина Семёнова</div>
        <div class="_positions">Коуч</div>
      </div>
    </div>

    <div class="trainer_text">
      <p>
        Разработка, организация и внедрение стратегических сессий, модераций с долгосрочными целями, определяющими успешность бизнес – процессов;
      </p>

      <p>
        Участие в стратегических сессиях по развитию филиала и Компании в HR направлении;
      </p>

      <p>
        Диагностика, мониторинг и поддержка мотивационной среды Компании, индекса лояльности персонала, организационного климата в коллективе;
      </p>

      <p>
        Разработка и реализация проектов по привлекательности HR бренда;
      </p>


      <p>
        Организация внедрения, поддержки и корректировки корпоративной культуры, корпоративных стандартов Компании;
      </p>
    </div>

    <div class="block_schedule">
      <div class="months">
        <div class="month collaps_block _active_">
          <div class="_title collaps_btn">
            <a href="">
              Ноябрь <span>+</span>
            </a>
          </div>
          <div class="collaps_content">
            <div class="day">
              <div class="_date">20</div>
              <div class="_text">
                <a class="content_upload" data-page="3" href="templates/courses/single.htm">
                  КУРС Управление командой
                </a>
              </div>
            </div>
            <div class="day">
              <div class="_date">22</div>
              <div class="_text">
                <a class="content_upload" data-page="3" href="templates/courses/single2.htm">
                  КУРС Системное мышление
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
