<header>
  <div class="_title __center">
    Непройденная теория
  </div>
</header>

<main class="page_course">
  <div class="_content">
    <div class="thems">
      <div class="them">
        <div class="_name">
          Тема 1
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
           <source src="http://mgapp.beget.tech/videos/videoplayback.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
           <a href="Blade-Runner-City-Lights-4k-Live-Wallpaper.mp4">Скачайте видео</a>.
          </video>
          <!-- <iframe width="100%" height="250" src="https://www.youtube.com/embed/jyvz0vvgDEk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
        <div class="_video_name">
          Название видео 1
        </div>
      </div>

      <div class="them">
        <div class="_name">
          Тема 2
        </div>
        <div class="_video">
          <div class="_prev"></div>
          <video width="100%" height="250" controls="controls">
            <source src="http://mgapp.beget.tech/videos/videoplayback.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           Тег video не поддерживается вашим браузером.
           <a href="Blade-Runner-City-Lights-4k-Live-Wallpaper.mp4">Скачайте видео</a>.
          </video>
          <!-- <iframe width="100%" height="250" src="http://mgapp.beget.tech/videos/videoplayback.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
        <div class="_video_name">
          Название видео 2
        </div>
      </div>
    </div>

    <script>
      $(function() {
        course_init()
      })
    </script>
  </div>
</main>
