<header>
  <div class="_title __center">
    Новый чат
  </div>
</header>

<main class="page_chats">
  <div class="_title">
    <input class="input __icon __search" type="text" name="" placeholder="Поиск" value="">
  </div>
  <div class="_content">
    <div class="chats">

      <div class="sort_item">А</div>

      <div class="chat">
        <div class="_img __default">
          <a class="content_upload" href="templates/members/single4.htm">
            <!-- <img src="img/profile.png" alt=""> -->
          </a>
        </div>

        <div class="_info">
          <div class="_name">
            Аграном Марта Владимировна
          </div>

          <!-- <div class="_date">
            Воскресенье
          </div> -->

          <div class="_last_msg">
            <!-- <div class="_status" data-status="read"></div> -->

            <div class="_txt">
              Нет сообщений...
            </div>

            <div class="_href">
              <a class="content_upload" href="templates/chats/single_m4.htm"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="sort_item">И</div>

      <div class="chat">
        <div class="_img">
          <a class="content_upload" href="templates/members/single2.htm">
            <img src="img/member.png" alt="">
          </a>
        </div>

        <div class="_info">
          <div class="_name">
            Иванов Владислав Анатольевич
          </div>

          <!-- <div class="_date">
            Суббота
          </div> -->

          <div class="_last_msg">
            <!-- <div class="_status" data-status="read"></div> -->

            <div class="_txt">
              Нет сообщений...
            </div>

            <div class="_href">
              <a class="content_upload" href="templates/chats/single_m2.htm"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="sort_item">Н</div>

      <div class="chat">
        <div class="_img __default">
          <a class="content_upload" href="templates/trainers/single.htm">
            <!-- <img src="img/profile.png" alt=""> -->
          </a>
        </div>

        <div class="_info">
          <div class="_name">
            Никитина Ирина Михайловна
          </div>

          <!-- <div class="_date">
            Воскресенье
          </div> -->

          <div class="_last_msg">
            <!-- <div class="_status" data-status="read"></div> -->

            <div class="_txt">
              Нет сообщений...
            </div>

            <div class="_href">
              <a class="content_upload" href="templates/chats/single_t.htm"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="sort_item">П</div>

      <div class="chat">
        <div class="_img __default">
          <a class="content_upload" href="templates/members/single3.htm">
            <!-- <img src="img/profile.png" alt=""> -->
          </a>
        </div>

        <div class="_info">
          <div class="_name">
            Петров Владимир Андреевич
          </div>

          <!-- <div class="_date">
            Воскресенье
          </div> -->

          <div class="_last_msg">
            <!-- <div class="_status" data-status="read"></div> -->

            <div class="_txt">
              Нет сообщений...
            </div>

            <div class="_href">
              <a class="content_upload" href="templates/chats/single_m3.htm"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="sort_item">Р</div>

      <div class="chat">
        <div class="_img">
          <a class="content_upload" href="templates/trainers/single3.htm">
            <img src="img/trainer.png" alt="">
          </a>
        </div>

        <div class="_info">
          <div class="_name">
            Разговорцева Нина Семёнова
          </div>

          <!-- <div class="_date">
            Воскресенье
          </div> -->

          <div class="_last_msg">
            <!-- <div class="_status" data-status="read"></div> -->

            <div class="_txt">
              Нет сообщений...
            </div>

            <div class="_href">
              <a class="content_upload" href="templates/chats/single_t3.htm"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="sort_item">С</div>

      <div class="chat">
        <div class="_img __default">
          <a class="content_upload" href="templates/trainers/single2.htm">
            <!-- <img src="img/profile.png" alt=""> -->
          </a>
        </div>

        <div class="_info">
          <div class="_name">
            Сашев Александр Александрович
          </div>

          <!-- <div class="_date">
            Воскресенье
          </div> -->

          <div class="_last_msg">
            <!-- <div class="_status" data-status="read"></div> -->

            <div class="_txt">
              Нет сообщений...
            </div>

            <div class="_href">
              <a class="content_upload" href="templates/chats/single_t2.htm"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function(){
      chat_search()
    })
  </script>
</main>
