<main class="page_chats">
  <div class="_title">
    Чаты
  </div>
  <div class="_content">
    <div class="chats">
      <div class="chat">
        <div class="_img">
          <a class="content_upload" href="templates/members/item.htm" data-page="3">
            <img src="img/profile.png" alt="">
          </a>
        </div>

        <div class="_info">
          <div class="_name">
            Имя Фамилия
          </div>

          <div class="_date">
            Суббота
          </div>

          <div class="_last_msg">
            <div class="_status" data-status="send"></div>

            <div class="_txt">
              Текст сообщения
            </div>

            <div class="_href">
              <a class="content_upload" href="templates/chats/item.htm" data-page="3"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="chat">
        <div class="_img">
          <a class="content_upload" href="templates/members/item.htm" data-page="3">
            <img src="img/profile.png" alt="">
          </a>
        </div>

        <div class="_info">
          <div class="_name">
            Имя Фамилия
          </div>

          <div class="_date">
            Суббота
          </div>

          <div class="_last_msg">
            <div class="_status" data-status="chek"></div>

            <div class="_txt">
              Текст сообщения
            </div>

            <div class="_href">
              <a class="content_upload" href="templates/chats/item.htm" data-page="3"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="chat">
        <div class="_img">
          <a class="content_upload" href="templates/members/item.htm" data-page="3">
            <img src="img/profile.png" alt="">
          </a>
        </div>

        <div class="_info">
          <div class="_name">
            Имя Фамилия
          </div>

          <div class="_date">
            Суббота
          </div>

          <div class="_last_msg">
            <div class="_status" data-status="read"></div>

            <div class="_txt">
              Текст сообщения
            </div>

            <div class="_href">
              <a class="content_upload" href="templates/chats/item.htm" data-page="3"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
