<header>
  <div class="_title block_member padding_no height_100">
    <div class="row prev_member __small height_100">
      <div class="_member_img __default">
      </div>
      <div class="_member_info">
        <div class="_name">Ефимова Вероника Владимировна</div>
        <div class="_status" id="interlocutor_status">не в сети</div>
      </div>
      <div class="_member_href">
        <a class="content_upload" href="templates/members/single.htm">
        </a>
      </div>
    </div>
  </div>
</header>

<main class="page_chat">
  <div class="_content">
    <div class="messages" id="chat_messages">
      
      <div class="_date">
        Суббота
      </div>

      <div class="message __interlocutor">
        Привет!
      </div>

      <div class="_date __today">
        сегодня
      </div>

    </div>
  </div>
</main>

<footer>
  <div class="chat_active" id="chat_active">
    <div class="button __icon">
      <img src="img/icons/plus.png" alt="">
    </div>
    <textarea class="input chat_input" id="chat_input" name="message" rows="1"></textarea>
    <div class="button __icon chat_button_send" id="chat_button_send">
      <img src="img/icons/income.png" alt="">
    </div>
  </div>
  <script>
    $(function(){
      chat_init()
    })
  </script>
</footer>
