<header>
  <div class="_title __center">
    Изменить профиль
  </div>
  <a class="_button content_upload" href="templates/profile.htm">
    Готово
  </a>
</header>

<main class="page_profile_edit">
  <div class="_content">
    <div class="profile_img">
      <label for="profile_img">
        <img src="img/profile.png" alt="">
      </label>

      <input type="file" name="img" id="profile_img">

      <div class="_name">

      </div>
    </div>

    <div class="profile_info">
      <div class="_edit_block">
        <label for="input_name">
          Фамилия
        </label>
        <input id="input_name" type="text" class="input" placeholder="Ефимова" name="name">
      </div>
      <div class="_edit_block">
        <label for="input_last_name">
          Имя
        </label>
        <input id="input_last_name" type="text" class="input" placeholder="Вероника" name="last_name">
      </div>
      <div class="_edit_block">
        <label for="input_patronymic">
          Отчество
        </label>
        <input id="input_patronymic" type="text" class="input" placeholder="Владимировна" name="patronymic">
      </div>
    </div>
  </div>
</main>
