<header>
  <a class="_button __icon content_upload" href="templates/profiles/edit.htm" type="button" name="button" data-page="3">
    <img src="img/icons/edit.png" alt="">
  </a>
</header>

<main class="page_profile">
  <div class="_content">
    <div class="row prev_profile">
      <div class="_profile_img">
        <img src="img/profile.png" alt="">
      </div>
      <div class="_profile_info">
        <div class="_name">Ефимова Вероника Владимировна</div>
        <div class="_points">789 <span>баллов</span></div>
      </div>
    </div>

    <div class="row">
      <div class="profile_progress">
        <div class="step _1 _yes">
          <div class="_tree">
            <span></span>
            <span></span>
          </div>

          <div class="_desc">
            <div class="_num">
              01
            </div>
            <div class="_name">
              СИСТЕМНОЕ МЫШЛЕНИЕ
            </div>
            <div class="_txt">
              Небольшое описание
              раздела и что-то еще
            </div>
          </div>

          <div class="_icon">
            <img src="img/profile_progress/icon_1.svg" alt="">
          </div>

          <div class="_href">
            <a class="content_upload" data-page="3" href="templates/courses/item.htm"></a>
          </div>
        </div>

        <div class="step _2 _yes">
          <div class="_tree">
            <span></span>
            <span></span>
          </div>

          <div class="_desc">
            <div class="_num">
              02
            </div>
            <div class="_name">
              РЕШЕНИЕ ПРОБЛЕМ
            </div>
            <div class="_txt">
              Небольшое описание
              раздела и что-то еще
            </div>
          </div>

          <div class="_icon">
            <img src="img/profile_progress/icon_2.svg" alt="">
          </div>

          <div class="_href">
            <a class="content_upload" data-page="3" href="templates/courses/item.htm"></a>
          </div>
        </div>

        <div class="step _3 _yes">
          <div class="_tree">
            <span></span>
            <span></span>
          </div>

          <div class="_desc">
            <div class="_num">
              03
            </div>
            <div class="_name">
              ТРЕНДВОТЧИНГ
            </div>
            <div class="_txt">
              Небольшое описание
              раздела и что-то еще
            </div>
          </div>

          <div class="_icon">
            <img src="img/profile_progress/icon_3.svg" alt="">
          </div>

          <div class="_href">
            <a class="content_upload" data-page="3" href="templates/courses/item.htm"></a>
          </div>
        </div>

        <div class="step _4 _yes" data-progress="60">
          <div class="_tree">
            <span></span>
            <span></span>
          </div>

          <div class="_desc">
            <div class="_num">
              04
            </div>
            <div class="_name">
              ЛИДЕРСТВО
            </div>
            <div class="_txt">
              Небольшое описание
              раздела и что-то еще
            </div>
          </div>

          <div class="_icon">
            <img src="img/profile_progress/icon_4.svg" alt="">
          </div>

          <div class="_href">
            <a class="content_upload" data-page="3" href="templates/courses/item.htm"></a>
          </div>
        </div>

        <div class="step _5">
          <div class="_tree">
            <span></span>
            <span></span>
          </div>

          <div class="_desc">
            <div class="_num">
              05
            </div>
            <div class="_name">
              ПЛАНИРОВАНИЕ И КОНТРОЛЬ
            </div>
            <div class="_txt">
              Небольшое описание
              раздела и что-то еще
            </div>
          </div>

          <div class="_icon">
            <img src="img/profile_progress/icon_5.svg" alt="">
          </div>

          <div class="_href">
            <a class="content_upload" data-page="3" href="templates/courses/item.htm"></a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script>
    $(function(){
      profile_progress()
    })
  </script>
</main>
