// authorization_forms
.authorization_forms
  height: 100vh
  // margin-top: - $header_height
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  .form_status
    &._error
      color: $color_error
// authorization_forms x
