<header>
  <div class="_title __center">
    Непройденная практика
  </div>
</header>

<main class="page_course">
  <div class="_content">
    <div class="practice collaps_block _active_">
      <div class="collaps_btn _title">
        <a href="">
          КУРС Решение проблем <span>+</span>
        </a>
      </div>

      <div class="collaps_content _text">
        <p>
          Решение сложных управленческих задач в индивидуальном и групповом режимах
        </p>
      </div>

      <div class="_buttons">
        <a class="button content_upload" href="templates/courses/test.htm">
          Пройти тест
        </a>
      </div>
    </div>
  </div>
</main>
