<header>
  <div class="_title __center">
    Участники
  </div>
</header>

<main class="page_members">
  <div class="_title">
    <input class="input __icon __search" type="text" name="" placeholder="Поиск" value="">
  </div>

  <div class="_content">
    <div class="members" data-key="items">
      <div class="member">
        <div class="_img __default">
        </div>
        <div class="_name">
          Ефимова Вероника Владимировна
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/members/single.htm"></a>
        </div>
      </div>

      <div class="member">
        <div class="_img __default">
        </div>
        <div class="_name">
          Иванов Владислав Анатольевич
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/members/single2.htm"></a>
        </div>
      </div>

      <div class="member">
        <div class="_img __default">
        </div>
        <div class="_name">
          Петров Владимир Андреевич
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/members/single3.htm"></a>
        </div>
      </div>

      <div class="member">
        <div class="_img __default">
        </div>
        <div class="_name">
          Аграном Марта Владимировна
        </div>
        <div class="_href">
          <a class="content_upload" href="templates/members/single4.htm"></a>
        </div>
      </div>
    </div>
  </div>
</main>
