<header>
  <div class="_title __center">
    Пройденная практика
  </div>
</header>

<main class="page_course">
  <div class="_content">
    <div class="practice __passed collaps_block _active_">
      <div class="collaps_btn _title">
        <a href="">
          КУРС Системное мышление <span>+</span>
        </a>
      </div>

      <div class="collaps_content _text">
        <p>
          Объединительное мышление при рассмотрении проблем организации
        </p>
      </div>

      <div class="_buttons">
        <a class="button content_upload" href="templates/courses/test.htm">
          Пройти тест заново
        </a>
      </div>
    </div>
  </div>
</main>
