html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative;
  display: block;
  padding: 6vh 0 4vh;
  font: 16px/1 "Roboto", sans-serif;
  z-index: 1;
  filter: blur(0rem);
  background: #141414;
  overflow: hidden;
  color: transparent;
  text-shadow: 0 0 0.05rem #00c800;
  transition: all 0.5s ease; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    transition: all 0.5s ease; }
  body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
    z-index: -2;
    transition: all 0.5s ease;
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.9);
    filter: blur(0.1rem);
    transform: scale(1, 1); }
  body._no_active_ main {
    left: 10vw;
    filter: blur(0.1rem);
    transform: scale(0.9, 0.9); }
  body._no_active_:after {
    left: 15vw;
    filter: blur(0.2rem);
    transform: scale(0.8, 0.8); }
  body h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  body h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem; }

header {
  position: relative;
  z-index: 3; }
  header .top_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6vh;
    color: white;
    background: black; }
    header .top_bar ._col {
      flex-grow: 1;
      padding: 0.5rem;
      color: transparent;
      text-shadow: 0 0 0.1rem #00c800; }
  header .main_menu {
    position: fixed;
    top: 5vh;
    left: -100vw;
    bottom: 4vh;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    width: 90vw;
    transition: all 0.5s ease; }
    header .main_menu ul {
      padding: 1rem; }
      header .main_menu ul li {
        display: block;
        box-sizing: border-box; }
        header .main_menu ul li a {
          display: block;
          padding: 0.5rem 0;
          color: rgba(200, 200, 200, 0.8); }
        header .main_menu ul li:not(:last-child) {
          border-bottom: 0.12rem solid rgba(100, 100, 100, 0.1); }
    header .main_menu._active_ {
      left: 0vw; }

main {
  position: relative;
  left: 0;
  width: 100%;
  height: 90vh;
  padding: 1vh 1vw;
  filter: blur(0rem);
  transform: scale(1, 1);
  box-sizing: border-box;
  z-index: 1;
  transition: all 0.5s ease;
  overflow-y: scroll; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  text-align: center;
  filter: blur(0rem);
  box-sizing: border-box;
  z-index: 2;
  font-size: 0.8rem;
  color: transparent;
  text-shadow: 0 0 0.1rem #00c800;
  transition: all 0.5s ease; }

.icon_shich {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .icon_shich i,
  .icon_shich svg {
    position: absolute;
    left: 0.3rem;
    height: 100%;
    font-size: 0.9rem;
    transition: all 0.5s ease; }
    .icon_shich i:nth-child(1),
    .icon_shich svg:nth-child(1) {
      bottom: 0%; }
    .icon_shich i:nth-child(2),
    .icon_shich svg:nth-child(2) {
      bottom: -100%; }
  .icon_shich._active_ i:nth-child(1),
  .icon_shich._active_ svg:nth-child(1) {
    bottom: 100%; }
  .icon_shich._active_ i:nth-child(2),
  .icon_shich._active_ svg:nth-child(2) {
    bottom: 0%; }

button {
  padding: 0.2rem 1rem;
  margin: 0;
  border: 0 !important;
  outline: 0 !important;
  background: none !important;
  box-shadow: 0 0 0 0.1rem rgba(200, 200, 200, 0.8);
  color: rgba(200, 200, 200, 0.8);
  text-decoration: none; }

.article_item {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-bottom: 0.1rem solid rgba(80, 80, 80, 0.1); }
  .article_item ._title {
    color: transparent;
    text-shadow: 0 0 0.05rem #00c800; }
  .article_item ._content {
    color: transparent;
    text-shadow: 0 0 0.1rem #00c800; }
  .article_item ._link {
    display: block;
    color: transparent;
    text-shadow: 0 0 0.05rem #00c800;
    padding-top: 0.5rem;
    font-size: 0.8rem;
    text-align: right;
    color: rgba(200, 200, 200, 0.8);
    text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
