<main class="page_authorization authorization_forms">
  <form id="authorization_form" class="authorization_form">
    <input type="hidden" name="form" value="authorization_form">
    <input type="hidden" name="app" value="app">

    <div class="block_input">
      <label>
        <p class="label">E-mail</p>
        <input type="text" class="input" name="email" value="" required="required">
      </label>
    </div>

    <div class="block_input">
      <label>
        <p class="label">Пароль</p>
        <input type="text" class="input" name="password" value="" required="required">
      </label>
    </div>

    <div class="form_status"></div>

    <div class="block_buttons">
      <button class="button" type="submit">Войти</button>
    </div>

    <div class="block_sub_text">
      <a class="content_upload" href="templates/authorizations/password.htm">
        Если вы забыли пароль, <br> нажмите сюда
      </a>
    </div>
  </form>
</main>
