<main class="page_registration authorization_forms">
  <form action="" id="registration_form">
    <input type="hidden" name="form" value="registration_form">
    <input type="hidden" name="app" value="app">

    <div class="block_input">
      <label>
        <p class="label">Введите код для регистрации</p>
        <input type="text" class="input" name="code" value="" required="required">
      </label>
    </div>

    <div class="form_status"></div>

    <div class="block_buttons">
      <button class="button" type="submit" name="button">Зарегистрироваться</button>
    </div>

    <div class="block_sub_text">
      <a href="">
        Если вы уже зарегистрированны, <br> нажмите сюда
      </a>
    </div>
  </form>
</main>
