<main class="page_password-new authorization_forms">
  <form action="" id="password-new_form">
    <input type="hidden" name="form" value="password-new_form">
    <input type="hidden" name="app" value="app">

    <div class="block_input">
      <label>
        <p class="label">Введите новый пароль</p>
        <input type="password" class="input" name="password" value="" required="required">
      </label>
    </div>

    <div class="block_input">
      <label>
        <p class="label">Повторите пароль</p>
        <input type="password" class="input" name="password_duble" value="" required="required">
      </label>
    </div>

    <div class="form_status"></div>

    <div class="block_buttons">
      <button class="button" type="submit">Сохранить</button>
    </div>

    <div class="block_sub_text">
    </div>
  </form>
</main>
