<main class="page_password-code authorization_forms">
  <form action="" id="password-code_form">
    <input type="hidden" name="form" value="password-code_form">
    <input type="hidden" name="app" value="app">

    <div class="block_input">
      <label>
        <p class="label">Введите код из письма</p>
        <input type="text" class="input" name="code" value="" required="required">
      </label>
    </div>

    <div class="form_status"></div>

    <div class="block_buttons">
      <button class="button content_upload" href="templates/authorizations/password-new.htm" type="submit">Войти</button>
    </div>

    <div class="block_sub_text">
    </div>
  </form>
</main>
