<main class="page_password authorization_forms">
  <form action="" id="password_form">
    <input type="hidden" name="form" value="password_form">
    <input type="hidden" name="app" value="app">

    <div class="block_input">
      <label>
        <p class="label">Введите адрес электронной почты</p>
        <input type="text" class="input" name="email" value="" required="required">
      </label>
    </div>

    <div class="form_status"></div>

    <div class="block_buttons">
      <button class="button content_upload" href="templates/authorizations/password-code.htm" type="submit">Выслать код для изменения пароля</button>
    </div>

    <div class="block_sub_text">
    </div>
  </form>
</main>
